.child1 {
    width: 100px;
    height: 100px;
    color: red;
    background-color: aquamarine;
     
}

.child2 {
    width: 100px;
    height: 100px;
    background-color: green;
    color: brown;
    font-style: italic;
}


.child3 {
    width: 100px;
    height: 100px;
    background-color: yellow;
    color: brown;
    font-style: italic;
}

.parent {
    background-color: lightblue;
    height: 30vh;
    display: flex;
}

.anshika {
    background-color: pink;
}



